
  /* local Desktop view code */
  .header{
    height: 110px;
    display: flex;
    align-items: center;
    position: sticky; top: 0;
    background: #151e27;z-index: 1;
  }

  .catchMaxHead{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    animation: headANIM;
    animation-duration: 1s;
    transform:translateY(0);
    opacity:1;
  }
  @keyframes headANIM {
    0%{transform: translateY(-100px); opacity:0;}
    60%{transform: translateY(-80px); opacity:1;}
    100%{transform: translateY(0px); opacity:1;}
  }

  .header .catchMaxHead .headerLogo{
    height: 50px;
    margin: 0 0 0 24px;
  }

  .header .catchMaxHead .divide { flex: 1 1 auto; }

  .header .catchMaxHead ul{
    list-style: none;
    padding: 0; margin: 0;
    line-height: 50px;
    font-size: 0.8em;
  }

  .header .catchMaxHead ul li{
    padding: 0; margin: 0 24px 0 0;
    display: inline-block;
  }

  .header .catchMaxHead ul li svg{
    height: 1.4em; margin: 0 4px 0 0;
    vertical-align: middle; fill: #ffffff;
  }

  .header .catchMaxHead ul li a{
    padding: 5px 0; margin: 0;
    text-decoration: none;
    line-height: 30px;
  }

  .header .catchMaxHead ul li a:hover{
    text-decoration: underline #9c27b0 2px;
  }

  .header .catchMaxHead ul li button{
    padding: 5px 16px; margin: 0;
    background: transparent;
    border: 2px solid #fafafa;
    color: #ffffff;
    border-radius: 24px;
    line-height: 30px;
  }
  .header .catchMaxHead ul li button:hover{border: 2px solid #9c27b0;}







  .main{
    min-height: calc(100vh - 110px);
    width: 100%;
  }

  .container{
    padding: 0; margin: 0; border-spacing: 0; width: 100%; text-align: center;
  }
  .container .row{
    padding: 0; margin: 0; border-spacing: 0; display: inline-block;
    width: 100%; max-width: 1200px; text-align: left;
  }
  .container .row .col{padding: 0;margin: 0 0 0 0;position: relative;vertical-align: top;float: left;}
  .container .row .col_100_s100{width: 100%;display: inline-block;}
  .container .row .col_40_s100{width: 40%;display: inline-block;}
  .container .row .col_50_s100{width: 50%;display: inline-block;}
  .container .row .col_60_s100{width: 60%;display: inline-block;}
  .container .row .col_right{float: right;}
  @media (max-width: 600px) {
    /* local Mobile view code */
  .container .row .col_100_s100{width: 100%;}
  .container .row .col_40_s100{width: 100%;}
  .container .row .col_50_s100{width: 100%;}
  .container .row .col_60_s100{width: 100%;}
  }

  .section1{
    height: calc(100vh - 110px);
    position: relative;
  }
  .section1::before{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(./../public/map.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 160px); width: 100%;
    content: ""; opacity: 0.2;
  }
  .section1 .holdTitle{
    display: flex;
    align-items: center;
    height: calc(100vh - 160px);
    text-align: left;
    animation: titleANIM;
    animation-duration: 2s;
    transform:translateX(0);
    opacity:1;
  }

  @keyframes titleANIM {
    0%{transform: translateX(-100px); opacity:0;}
    50%{transform: translateX(-100px); opacity:0;}
    60%{transform: translateX(-80px); opacity:0;}
    100%{transform: translateX(0px); opacity:1;}
  }
  .section1 .holdTitle .holdForm{width: 100%;}
  .section1 .holdTitle h1{margin: 8px 0 0 24px;line-height: 50px; font-size: 42px;}
  .section1 .holdTitle p{margin: 8px 0 0 24px;line-height: 30px; font-size: 14px;}
  .section1 .holdTitle input{
    display: block; width: 100%; max-width: 290px; outline: none;
    padding: 5px 16px; margin: 16px auto 0 24px;
    background: transparent;
    border: 2px dashed #eeeeee;
    color: #fafafa;
    border-radius: 24px;
    line-height: 30px;}
  .section1 .holdTitle button{
    display: block; width: 90%; max-width: 290px;
    padding: 5px 16px; margin: 16px auto 0 24px;
    background: transparent; transition-duration: .3s;
    border: 2px solid #eeeeee;
    color: #ffffff;font-weight: bold;
    border-radius: 24px;
    line-height: 30px;}
  .section1 .holdTitle button:hover{background: #9c27b0;border: 2px solid transparent;}
  .section1 .holdBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
    width: 100%;
  }
  .section1 .holdBanner img{width: 95%; margin: 0 5% 0 0; animation: banner1 3s infinite;}
  @keyframes banner1 {
    0%{transform: translateX(0px);}
    50%{transform: translateX(24px);}
    100%{transform: translateX(0px);}
  }
  .section1 .arrow .arrowIMG{height: 50px; width: 50px; margin: 0 auto; display: block;}
  .section1 .arrow .arrowIMG img{height: 50px;transition-duration: .3s;position: relative;}
  .section1 .arrow:hover .arrowIMG img{transform: rotate(180deg);}






  
  .section2{
    margin: 110px 0 0 0;
    height: calc(100vh - 230px);
    position: relative;
  }
  .section2 .holdTitle{
    display: flex;
    align-items: center;
    height: calc(100vh - 280px);
    text-align: left;
  }
  .section2 .holdTitle .holdForm{width: 100%;}
  .section2 .holdTitle h1{margin: 8px 0 0 24px;line-height: 50px; font-size: 42px;}
  .section2 .holdTitle p{margin: 8px 0 0 24px;line-height: 30px; font-size: 14px;}

  .section2 .holdBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 280px);
    width: 100%;
  }
  .section2 .holdBanner img{height: 100%; margin: 0 15% 0 10%; animation: banner2 3s infinite;}
  .section2 .holdTitle button{
    display: block;
    padding: 5px 16px; margin: 16px auto 0 24px;
    background: transparent; transition-duration: .3s;
    border: 2px solid #eeeeee;
    color: #ffffff;font-weight: bold;
    border-radius: 24px;
    line-height: 30px;}
  .section2 .holdTitle button:hover{background: #9c27b0;border: 2px solid transparent;}
  @keyframes banner2 {
    0%{transform: translateY(0px);}
    50%{transform: translateY(24px);}
    100%{transform: translateY(0px);}
  }


  .section2 .footer{
    height: 120px;
  }
  .section2 .divide { flex: 1 1 auto; }
  .section2 .footer .top{display: flex; align-items: center; margin: 0 0 0 24px; padding: 24px 0 0 0;}  
  .section2 .footer .bottom{display: flex; align-items: center;margin: 0 0 0 24px; padding: 0 0 24px 0;}
  .section2 .footer .bottom p{margin: 0;}
  .section2 .footer ul{
    list-style: none;
    padding: 0; margin: 0;
    line-height: 50px;
    font-size: 0.8em;
  }
  .section2 .footer ul li{
    padding: 0; margin: 0 24px 0 0;
    display: inline-block;
  }
  .section2 .footer ul li svg{
    height: 1.4em; margin: 0 4px 0 0;
    vertical-align: middle; fill: #ffffff; transition-duration: .3s;
  }
  .section2 .footer ul li a{
    padding: 5px 0; margin: 0;
    text-decoration: none;
    line-height: 30px;
  }
  .section2 .footer ul li a:hover svg{fill: #9c27b0; transform: scale(1.2);}
  .section2 .footer ul li a:hover{
    text-decoration: underline #9c27b0 2px;
  }
  .section2 .footer .footerLogo{
    height: 50px; transform: scale(1.1);
  }


  @media (max-width: 600px) {
    /* local Mobile view code */




    .header .catchMaxHead .headerLogo{
      transform: scale(1.2);
    }
    .header .catchMaxHead ul{
      display: none;
    }

    .section1::before{
      display: none;
    }
    .section1 .holdTitle, .section2 .holdTitle{
      height: auto;
      text-align: center;
      margin: 0;
      width: 100%;
    }
    .section1 .holdTitle h1, .section2 .holdTitle h1{ line-height: 40px; font-size: 30px; margin: 16px; width: calc(100% - 8px);}
    .section1 .holdTitle p{ line-height: 14px; font-size: 10px; margin: 16px; width: calc(100% - 8px);}
    .section2 .holdTitle p{ line-height: 18px; font-size: 12px; margin: 16px; width: calc(100% - 8px);}
    .section1 .holdBanner{
      height: calc(40vh);
      width: 100%; margin: 0; overflow: hidden;
    }
    .section1 .holdBanner img{width: 70%; margin: 0 15%; }
    .section1 .holdTitle input, .section1 .holdTitle button {margin: 16px auto; width: 90%;}
    .section2 .holdTitle button{margin: 16px auto; width: 80%;}
    .section1 .arrow .arrowIMG{display: none;}


    .section2 .holdBanner img{width: 70%; margin: 0 15%; height: auto; }

    .section2 .footer{
      height: auto;
    }

    .section2 .footer .top, .section2 .footer .bottom{flex-direction: column; margin: 0 24px; }  
    .section2 .footer ul li{margin: 8px 16px;}
    .section2 .footer ul li svg{margin: 0 4px;}
    .section2 .footer ul li a{margin: 0; }

  }
  
  @media (prefers-color-scheme: dark) {
    /* local Dark view code */
  
  }
  